body {
  font: 18px "Roboto", sans-serif;
  font-weight: 400;
  margin: 20px;
}

#heading {
  padding-bottom: 10px;
  text-decoration: underline;
}

ol, ul {
  padding-left: 30px;
}

.boardRow:after {
  clear: both;
  content: "";
  display: table;
}

.playerStatus {
  margin-bottom: 10px;
}

.singleSquare {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.singleSquare:focus {
  outline: none;
}

.kbd-navigation .singleSquare:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.gameInfo {
  margin-left: 20px;
}

#note {
  font-size: 14px;
  font-weight: lighter;
}
#note input {
  margin-top: 20px;
}